{% extends 'base.html' %}

<!-- Inserimento Titolo -->
{#
{% block title %}
{% endblock %}
#}

<!-- Inserimento ToolBar -->
{#
{% block toolbar %}
<div class=" align-items-center gap-2">
    <div class="text-gray-700">Totale contratti: <span class="text-white" id="total-contracts">0</span></div>
    <div class="text-gray-700">Ultimo aggiornamento: <span class="text-white" id="last-updated">-</span></div>
</div>
<div class="col-4">
    <input type="text" id="mySearch" class="form-control form-control-sm" placeholder="Cerca...">
</div>
<div class="d-flex align-items-center gap-2">
    <div class="btn-group">
        <button id="edit_button" type="button" class="btn btn-sm btn-primary" ><i class="fa-solid fa-pen-to-square me-2 fs-3"></i>Modifica</button>
        <button id="save_all" type="button" class="btn btn-sm btn-warning disabled" onclick="saveAllContracts()"><i class="fa-solid fa-floppy-disk me-2 fs-3"></i>Salva Tutti i Contratti</button>
        <button id="reload" type="button" class="btn btn-sm btn-info" onclick="loadContracts('load')"><i class="fa-solid fa-arrows-rotate me-2 fs-3"></i>Ricarica Dati</button>
    </div>
</div>
{% endblock %}   
#}  

<!-- Inserimento contenuto Pagina -->
{% block content %}
<div id="kt_app_content" class="app-content  flex-column-fluid " >
    <div id="kt_app_content_container" class="app-container  container-fluid ">
        <div class="row">

        </div>
    </div>
</div>
{% endblock %}

<!-- Inserimento Script -->
{% block scripts %}

{% endblock scripts %}
{% if current_user %}
{% include 'partials/auth_check.html' %}
{% endif %}